[Unit]
Description=git annex assistant in %I

[Service]
CPUAccounting=true
CPUQuota=20%
WorkingDirectory=%I
ExecStart=/usr/bin/git-annex assistant --foreground
Restart=always

[Install]
WantedBy=default.target
